<!-- HEADER -->
<div class="navbar-fixed">
    <nav class="container">
        <div class="nav-wrapper white">
            <a href="#" onclick="apretaste.send({'command':'DDC'})" class="brand-logo center">
                <img id="logo" class="responsive-img" src="{{APP_SERVICE_PATH}}/images/diariodecuba-logo.png">
            </a>
        </div>
    </nav>
</div>

<div class="row">
    {{APP_TEMPLATE_CODE}}
</div>
