<h1>Buscar:
    <% search %>
</h1>

<% articles.forEach(function(article) { %>
<small>
    <font color = "gray">
        <% article['pubDate'] %>
    </font></small><br/>    <b>
    <a href = "#!" onclick = "apretaste.send({command:'DIARIODECUBA HISTORIA <% article.link %>', data:{link:'<%= article['link'] %>'}})"><%= article['title'] %></a>
</b>
<% article.description %><br/>
<% }); %>

<button class = "btn waves-effect waves-light" onclick = "apretaste.send({command:'DIARIODECUBA'})">
    Titulares
    <i class = "material-icons right">feed</i>
</button>
