<div class="row">
    <div class="col s12">
        <h1>Buscar: <%= search %></h1>
    </div>
</div>

<% articles.forEach(function(article, i) { %>
<div class="row">
    <div class="col s12">
        <b>
            <a class="link link-simple" data-command = "DIARIODECUBA HISTORIA" data-query = "articles[<%= i %>].link">
                <%= article.title %>
            </a>
        </b>
        <%= article.description %>
        <br/>
    </div>
</div>
<% }); %>

<div class="row">
    <div class="col s12">
	<button class = "btn waves-effect waves-light" onclick = "apretaste.send({command:'DIARIODECUBA'})">
	    Titulares
	    <i class = "material-icons right">feed</i>
	</button>
    </div>
</div>

